body {
    font-weight: 200;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button{
    -webkit-text-fill-color: white;
    background-color: lightskyblue;
    cursor: pointer;
}

h2{
    -webkit-text-fill-color: balck;
}

h1{
    background-color: darkblue;
    -webkit-text-fill-color: white;
}
